<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home </title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="flex flex-col space-y-24 bg-violet-100 h-[100vh]">

    <section class="flex flex-row h-5/12 w-[100vw] bg-purple-700 shadow-xl sm:flex-col relative">
        <nav class=" flex mb-2   flex-row ml-12  space-x-96 font-mono font-bold text-base mt-4  ">
            <div>
                <img src="/static/weblogo.png" class="w-14 h-14 brightness-200 text-white	" alt="Logo">
            </div>
            <div class=" flex flex-row space-x-8 ml-78  text-white text-[1.2em]">
                <a href="/" class="  hover:text-black">Home</a>
                <a href="" class="  hover:text-black">About</a>
                <a href="/heartdisease" class="  hover:text-black">Heart Disease </a>
                <a href="/strokeprediction" class="  hover:text-black">Stroke Occurrence</a>
                <a href="" class=" hover:text-black">Contact</a>

            </div>
        </nav>
    </section>
    <div class="flex flex-row h-1/2 items-center justify-between w-[100%] ">
        <section
            class=" ml-[60px] h-11/12 w-[60%] font-mono flex flex-col space-x-8 text-black  justify-items-center  my-66 text-2xl ">
            <h1 class=" text-6xl  font-serif text-left  drop-shadow-2xl pb-8 text-violet-900">Improve Your
                Cardiovascular Health with Diet and Exercise </h1>
            <h2 class="text-2xl  font-serif text-left  drop-shadow">Heart and Stroke Prediction System</h2>
            <h2 class="text-2xl  font-serif text-left  drop-shadow">Impact of Cardiovascular Risks</h2>

        </section>
        <section>
            <img src="../static/stoke.png">
        </section>
    </div>
    <footer class="h-1/12 w-full text-1xl bg-purple-700 text-center text-white mb-0 py-2 ">Malla Reddy College Of
        Engineering
        and
        Technology
        2024</footer>
    </section>


</body>

</html>